{{ form_start(form) }}
{{ form_widget(form) }}
<img src="{{ vich_uploader_asset(bien, 'imageFile') }}" width="50px">

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
