{% extends 'base.html.twig' %}

{% block title %}Bien index
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	{{ form_start(form) }}
	<div class="row justify-content-center">
		<div class="col-6 col-xl-2">{{ form_row(form.SearchPrixMin, {'label': "Prix Minimum",'type':'number', 'attr': {'placeholder': 'Prix Minimum'}}) }}</div>
		<div class="col-6 col-xl-2">{{ form_row(form.SearchPrixMax, {'label': "Prix Maximum",'type':'number', 'attr': {'placeholder': 'Prix Maximum'}}) }}</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-6 col-xl-2">{{ form_row(form.SearchCategorie, {'label': "Categorie", }) }}</div>
		<div class="col-6 col-xl-2">{{ form_row(form.SearchType, {'label': "Type",}) }}</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-6 col-xl-4">{{ form_row(form.SearchGlobal, {'label': "Recherche",}) }}</div>
		<button class="btn btn-primary col-3 col-xl-1">Rechercher</button>
	</div>
</div>
{{ form_end(form) }}<h1 class="animatic mt-5 mb-5">Voici nos biens:</h1>
<div class="container-fluid">
	<div class="row justify-content-center">
		{% for bien in biens %}
			<div class="col-lg-4 col-sm-12 mb-5">
				<div class="card card-body p-0 h-100" style="max-height:100vh;">
					{% if bien.imageName %}
						<!--Card image-->
						<div class="view overlay w-100" style="height:40vh;">
							<img class="card-img-top h-100 w-100" style="overflow: hidden; object-fit: cover;" src="{{ vich_uploader_asset(bien, bien.imageFile) }}">
						</div>
					{% endif %}
					<h2 class="p-2 bg-unique-color">{{ bien.titre }}</h2>
					<div class="p-2">
						<div class="row container-fluid justify-content-around">
							<p>
								<i class="fas fa-tag"></i>
								{{ bien.categorie }}</p>
							<p>
								<i class="fas fa-home"></i>
								{{ bien.type }}</p>
							<p>
								<i class="fas fa-user"></i>
								{{ bien.proprietaire }}</p>
							<p>
								<i class="fas fa-search-location"></i>
								{{ bien.adresse }}</p>
							<p class="price">{{ bien.prix }}
								<i class="fas fa-euro-sign"></i>
							</p>
						</div>
						<p>
							{{ bien.description|raw|length > 150 ? bien.description|raw|slice(0, 150) ~ '...' : bien.description|raw }}
						</p>
						<div class=" container-fluid justify-content-around d-inline-flex mx-auto">
							<a class="btn btn-sm btn-primary" href="{{ path('bien_show', {'id': bien.id}) }}">Voir</a>
							{% if app.user %}
								{% if bien.proprietaire.id == app.user.id or is_granted('ROLE_ADMIN') %}
									<a class="btn btn-sm btn-warning" href="{{ path('bien_edit', {'id': bien.id}) }}">Modifier</a>
									{{ include('bien/_delete_form.html.twig') }}
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<p colspan="10">Aucun biens trouvé</p>
		{% endfor %}
	</div>
</div></div><div class="navigation d-flex justify-content-center">{{ knp_pagination_render(biens) }}</div>{% endblock %}
