{% extends 'base.html.twig' %}

{% block title %}Bien index
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
	<h1 class="animatic mt-5 mb-5">Voici nos biens:</h1>
	<div class="row justify-content-center">
		{% for bien in biens %}
			<div class="col-md-4 col-sm-12 mb-5">
				<div class="card card-body p-0 h-75">
					{% if bien.imageName %}
						<!--Card image-->
						<div class="view overlay h-75 w-100">
							<img class="card-img-top h-100 w-100" style="overflow: hidden; object-fit: cover;" src="{{ vich_uploader_asset(bien, bien.imageFile) }}">
						</div>
					{% endif %}
					<h2 class="p-2 bg-unique-color">{{ bien.titre }}</h2>
					<div class="p-2">
						<p>
							<i class="fas fa-tag"></i>
							{{ bien.categorie }}</p>
						<p>
							<i class="fas fa-home"></i>
							{{ bien.type }}</p>
						<p class="price">{{ bien.prix }}
							<i class="fas fa-euro-sign"></i>
						</p>
						<div class=" container-fluid justify-content-around d-inline-flex mx-auto">
							<a class="btn btn-primary" href="{{ path('bien_show', {'id': bien.id}) }}">Voir</a>
							{% if app.user %}
								{% if bien.proprietaire.id == app.user.id %}
									<a class="btn btn-warning" href="{{ path('bien_edit', {'id': bien.id}) }}">Modifier</a>
									{{ include('bien/_delete_form.html.twig') }}
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<p colspan="10">Aucun biens trouvé</p>
		{% endfor %}
	</div>
</div>
<div class="navigation d-flex justify-content-center">
	{{ knp_pagination_render(biens) }}</div>{% endblock %}
