{% extends 'base.html.twig' %}

{% block title %}Bien{% endblock %}

{% block body %}
    <h1>Bien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bien.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bien.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bien.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ bien.photo }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ bien.categorie }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ bien.createdAt ? bien.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ bien.updatedAt ? bien.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bien.titre }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ bien.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bien_index') }}">back to list</a>

    <a href="{{ path('bien_edit', {'id': bien.id}) }}">edit</a>

    {{ include('bien/_delete_form.html.twig') }}
{% endblock %}
